.calculation{
    position: absolute;
    z-index: 12;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(37.74% 81.78% at 50% 50%,rgba(0,0,0,.9) 0%,rgba(3,0,20,0) 100%);

    top:-100vh;
    left: 0px;
    transition: 1s;
}
    .calculation .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 100%;

        position: relative;
        
        border: 1px solid rgba(255,255,255,.1);

        background: radial-gradient(71.86% 50% at 50% 0%,rgba(168,127,255,.4) 0%,rgba(168,127,255,0.2) 100%),rgba(4,1,21,.7);
    }
        .calculation .content .close{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 30px;
            height: 30px;

            position: absolute;
            top: 0px;
            left: calc(100% - 50px);
        }

        .calculation .content .close span{
            width: 100%;
            height: 5px;
            display: block;
            background-color: rgba(0, 0, 0,1);
            border-radius: 5px;
        }
        .calculation .content .close span:nth-child(1){
            transform: rotate(45deg) translateY(3px) translateX(1px);
        }
        .calculation .content .close span:nth-child(2){
            transform: rotate(-45deg) translateY(-3px);
        }


        .calculation .content .SplashArt{
            height: 100%;
            width: 40%;
            -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 40%, rgba(238, 130, 238, 0) 95%);
            mask-image: linear-gradient(ellipse at 0% 100%, rgba(0, 0, 0, 1) 66%, rgba(238, 130, 238, 0) 100%);
            display: flex;
            justify-content: center;
        }.calculation .content .SplashArt img{width: auto;height: 100%;}


        .calculation .content .Damage{
            height: 100%;
            width: 30%;
        }
            .calculation .content .Damage div.dmg{
                display: flex;
                width: 100%;
                height: 16%;
                position: relative;
            }
            .calculation .content .Damage div.dmg::before{
                content: "";
                width: 100%;
                height: 1px;
                top: 100%;
                position: absolute;
                background: radial-gradient(62.87% 100% at 50% 60%,rgba(255,255,255,.12) 0%,rgba(255,255,255,0) 100%);

            }
            .calculation .content .Damage .Autos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
            }
            .calculation .content .Damage .Autos .line{
                width: 80%;
                height: 5px;
                background-color: rgb(36, 34, 34);
                position: absolute;
                top: 60%;
                
            }
            .calculation .content .Damage .Autos .autoContainer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                height: 100%;
            }
                .calculation .content .Damage .Autos .autoContainer .AA{
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
                    .calculation .content .Damage .Autos .autoContainer .AA .damage{
                        font-size: 11px;
                        font-weight: bold;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        color: white;
                    }
                    .calculation .content .Damage .Autos .autoContainer .AA .circle{

                        width: 10px;
                        height: 10px;
                        border: 5px solid rgb(255, 255, 255,.7);
                        border-radius: 50%;
                        background-color: rgb(36, 34, 34);
                    }
                        .calculation .content .Damage .Autos .autoContainer .AA .circle::after{
                            content: "";
                            position: absolute;
                            width: 20%;
                            height: 5px;
                            transform: translateY(2.5px);
                            background-color: rgb(36, 34, 34);
                        }
                        .calculation .content .Damage .Autos .autoContainer .AA:last-of-type .circle::after{
                            display: none;
                        }
                    .calculation .content .Damage .Autos .autoContainer .AA .circle .buffs{
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        flex-direction: column;
                    }
                        .calculation .content .Damage .Autos .autoContainer .AA .circle .buffs .buff{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 10px;
                            height: 10px;
                            border-radius: 2px;
                        }
                
        .calculation .content .stats{
            height: 100%;
            width: 30%;
        }